<form [formGroup]="addForm" (ngSubmit)="onAdd()">
  <div class="mb-3">
    <label for="name" class="form-label">Name *</label>
    <input type="email" class="form-control" id="name" formControlName="name" />
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Price *</label>
    <input
      type="number"
      class="form-control"
      id="price"
      formControlName="price"
    />
  </div>

  <div class="mb-3">
    <label for="Image" class="form-label">Image *</label>
    <input
      type="text"
      class="form-control"
      id="Image"
      formControlName="image"
    />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      id="description"
      rows="3"
      formControlName="description"
    ></textarea>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">
    Add product
  </button>
</form>
